<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hopper_long">
  <link
    name="hopper_long_base_link">
    <inertial>
      <origin
        xyz="0 0 0.92358"
        rpy="0 0 0" />
      <mass
        value="686.2" />
      <inertia
        ixx="215.53"
        ixy="1.1915E-15"
        ixz="2.2567E-15"
        iyy="215.53"
        iyz="-1.0997E-15"
        izz="42.463" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hopper_long/meshes/hopper_long_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.75294 0.796 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hopper_long/meshes/hopper_long_base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>