<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="cabinet" params="prefix">

    <link name="${prefix}cabinet_base_link">
      <inertial>
        <origin
          xyz="-8.8818E-16 -1.7764E-15 0.94365"
          rpy="0 0 0" />
        <mass
          value="164.13" />
        <inertia
          ixx="19.113"
          ixy="-7.2499E-14"
          ixz="8.9519E-14"
          iyy="31.928"
          iyz="-1.7069E-14"
          izz="17.333" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://cabinet/meshes/cabinet_base_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.75294 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://cabinet/meshes/cabinet_base_link.STL" />
        </geometry>
      </collision>
    </link>


  </xacro:macro>

</robot>