<?xml version="1.0"?>
<launch>   
<group ns="oarbot_blue">
    <machine name="oarbot-blue-P15" address="192.168.1.102" env-loader="/home/oarbot_blue/catkin_ws_safe_energetics/src/testbed_small/scripts/env_oarbot_blue.sh" user="oarbot_blue" password="1234"  default="true"/>

    <arg name="prefix_for_tf" default="j2n6s300_right" />  <!-- Applies to both kinova arm and the kinect -->
    
    <!-- Launch Kinova Arm -->
    <include file="$(find testbed_small)/launch/test_launch/oarbot_blue_kinova_robot.launch">
        <arg name="use_urdf" value="true"/>
        <arg name="kinova_robotType" value="j2n6s300" />
        <arg name="kinova_robotName" value="$(arg prefix_for_tf)"/>
        <arg name="kinova_robotSerial" value="not_set" />
        <arg name="kinova_root_name" value="root_right_arm" />
        <arg name="kinova_prefix" value="$(arg prefix_for_tf)" />
        <arg name="use_jaco_v1_fingers" value="false" />
        <arg name="feedback_publish_rate" value="0.01" /> <!-- (0.01 s = 100 Hz) Higher rate is practically not possible -->
    </include>

</group>
</launch>