<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro  name="base_link_geometry" params="geometry_type:=collision">
        <xacro:element xacro:name="${geometry_type}">
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://fanuc_m20id35_support/meshes/m20id35/collision/base_link.STL" />
            </geometry>
        </xacro:element>
    </xacro:macro>
</robot>
