<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="hopper_short" params="prefix">

    <link name="${prefix}hopper_short_base_link">
      <inertial>
      <origin
        xyz="0 -2.2204E-16 0.82202"
        rpy="0 0 0" />
      <mass
        value="610.69" />
      <inertia
        ixx="155.79"
        ixy="9.8978E-32"
        ixz="7.2728E-19"
        iyy="155.79"
        iyz="-4.5124E-15"
        izz="37.786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hopper_short/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.1 0.1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hopper_short/meshes/base_link.STL" />
      </geometry>
    </collision>
    </link>


  </xacro:macro>

</robot>