<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hopper_short">
  <link
    name="hopper_short_base_link">
    <inertial>
      <origin
        xyz="0 -2.2204E-16 0.82202"
        rpy="0 0 0" />
      <mass
        value="610.69" />
      <inertia
        ixx="155.79"
        ixy="9.8978E-32"
        ixz="7.2728E-19"
        iyy="155.79"
        iyz="-4.5124E-15"
        izz="37.786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hopper_short/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.1 0.1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hopper_short/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>