<?xml version="1.0"?>
<robot name="cabinet" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find cabinet)/urdf/cabinet_macro.xacro"/>
  <xacro:cabinet prefix=""/>

  <link name="cabinet_base_plate">
    <!-- <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0127"/>
      <geometry>        
        <box size="0.9144 0.9144 0.0254"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0127"/>
      <geometry>        
        <box size="0.9144 0.9144 0.0254"/>
      </geometry>     
    </collision> -->
  </link>

  <joint name="cabinet_base_plate" type="fixed">
    <parent link="cabinet_base_plate"/>
    <child link="cabinet_base_link"/>
    <!-- <origin rpy="0 0 0" xyz="0 0 .0254"/> -->
    <!-- <origin rpy="1.5708 0 1.5708" xyz="0 0 0"/> -->
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>
