<?xml version="1.0"?>
<robot name="hopper_long" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find hopper_long)/urdf/hopper_long_macro.xacro"/>
  <xacro:hopper_long prefix=""/>

  <link name="hopper_long_base_plate">
    <!-- <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0127"/>
      <geometry>        
        <box size="0.9144 0.9144 0.0254"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0127"/>
      <geometry>        
        <box size="0.9144 0.9144 0.0254"/>
      </geometry>     
    </collision> -->
  </link>

  <joint name="hopper_long_base_plate" type="fixed">
    <parent link="hopper_long_base_plate"/>
    <child link="hopper_long_base_link"/>
    <!-- <origin rpy="0 0 0" xyz="0 0 .0254"/> -->
    <!-- <origin rpy="1.5708 0 1.5708" xyz="0 0 0"/> -->
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>
