<?xml version="1.0"?>
<robot name="fanuc_m20id35" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find fanuc_m20id35_support)/urdf/fanuc_common_materials.xacro"/>
  <xacro:include filename="$(find fanuc_m20id35_support)/urdf/m20id35_macro.xacro"/>
  <xacro:fanuc_m20id35 prefix="fanuc_"/>

  <link name="fanuc_base_plate">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0127"/>
      <geometry>        
        <box size="0.9144 0.9144 0.0254"/>
      </geometry>
      <xacro:material_fanuc_grey />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0127"/>
      <geometry>        
        <box size="0.9144 0.9144 0.0254"/>
      </geometry>     
    </collision>
  </link>

  <joint name="fanuc_base_plate" type="fixed">
    <parent link="fanuc_base_plate"/>
    <child link="fanuc_base_link"/>
    <origin rpy="0 0 0" xyz="0 0 .0254"/>
  </joint>
</robot>
