<?xml version="1.0"?>
<robot name="safe_energetics_testbed" xmlns:xacro="http://ros.org/wiki/xacro"> 
  <xacro:include filename="$(find fanuc_m20id35_support)/urdf/fanuc_common_materials.xacro"/>

  <!-- <xacro:include filename="$(find safe_energetics_testbed)/urdf/irb6640_180_255.xacro"/> -->
  <xacro:include filename="$(find safe_energetics_testbed)/urdf/irb6640_180_255_fixed.xacro"/>


  <!-- <xacro:include filename="$(find safe_energetics_testbed)/urdf/m710ic45m.xacro"/> -->
  <xacro:include filename="$(find safe_energetics_testbed)/urdf/m20id35.xacro"/>

  <xacro:include filename="$(find safe_energetics_testbed)/urdf/cage.xacro"/>
  <xacro:include filename="$(find safe_energetics_testbed)/urdf/cabinet.xacro"/>
  <xacro:include filename="$(find safe_energetics_testbed)/urdf/hopper_long.xacro"/>
  <xacro:include filename="$(find safe_energetics_testbed)/urdf/hopper_short.xacro"/>

  <link name="world"/>

  <link name="floor">
    <visual name="visual">      
      <origin xyz="1 0 -.005"/>
      <geometry><box size="8 8 0.01"/></geometry>
      <xacro:material_fanuc_grey />
    </visual>
    <collision name="collision">      
      <origin xyz="1 0 -.005"/>
      <geometry><box size="8 8 0.01"/></geometry>
    </collision>
  </link>

  <!-- <link name="overhead_camera"/> -->

  <joint name="abb_robot_to_world" type="fixed">
    <child link="abb_base_plate"/>
    <parent link="world"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <joint name="cage_to_world" type="fixed">
    <parent link="world"/>
    <child link="cage_base_link"/>
    <origin rpy="0 0 -1.57079" xyz="-1.282 3.271 0"/>
  </joint>


  <joint name="floor_to_world" type="fixed">
    <parent link="world"/>
    <child link="floor"/>
  </joint>

  <!-- <joint name="overhead_camera_to_world" type="floating">
    <parent link="world"/>
    <child link="overhead_camera"/>

    <origin rpy="-3.0901665893944226 0.020179445742952443 0.05637854407723496" xyz="0.22644675 -2.46050185  3.44552755"/>
  </joint> -->

  <joint name="fanuc_robot_to_world" type="fixed">
    <child link="fanuc_base_plate"/>
    <parent link="world"/>
    <origin rpy="0 0 -1.57079" xyz="2.0 2.0 0"/>
  </joint>

  <joint name="cabinet_to_world" type="fixed">
    <child link="cabinet_base_plate"/>
    <parent link="world"/>
    <origin rpy="0 0 1.57079" xyz="3.2 2.0 0"/>
  </joint>

  <joint name="hopper_long_to_world" type="fixed">
    <child link="hopper_long_base_plate"/>
    <parent link="world"/>
    <origin rpy="0 0 0" xyz="0.8 1.4945 -0.6096"/>  <!-- x= 0.678, y= 67 inch = 1.7018 m, z = -2ft = -0.6096 m  --> 
  </joint>

  <joint name="hopper_short_to_hopper_long" type="fixed">
    <child link="hopper_short_base_plate"/>
    <parent link="hopper_long_base_plate"/>
    <origin rpy="0 0 0" xyz="0 1.1811 0"/> <!-- 46.5in =  1.1811 m  -->
  </joint>
  


</robot>
